* {
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif; }

.container {
  max-width: 100%;
  margin: 0 auto; }
  .container header {
    background-image: url(../img/apples.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 100px;
    height: 100vh;
    left: 0; }
    .container header .header-name {
      letter-spacing: 3px;
      font-size: 15px;
      display: inline-block;
      color: #ffffff;
      text-transform: uppercase;
      margin: 25px 0 25px 0; }
    .container header nav {
      float: right;
      margin-right: 40px; }
      .container header nav ul {
        list-style-type: none; }
        .container header nav ul li {
          display: inline-block;
          margin: 25px 20px 25px 20px;
          font-size: 14px; }
          .container header nav ul li a {
            color: #ffffff;
            text-decoration: none;
            padding: 0 5px 10px; }
            .container header nav ul li a.current {
              box-shadow: 0 4px 2px -2px #b7c8d9; }
            .container header nav ul li a:hover {
              box-shadow: 0 4px 2px -2px #b7c8d9;
              transition: box-shadow 0.5s linear; }
    .container header h1 {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 9px;
      margin: 180px 0 0 40px;
      color: #ffffff;
      font-size: 50px;
      font-weight: 100; }
      .container header h1 span {
        font-size: 95px;
        font-family: serif; }
      .container header h1 sup {
        font-size: 25px;
        letter-spacing: 1px; }
    .container header p {
      text-align: center;
      color: #ffffff;
      font-size: 15px; }
    .container header button {
      display: block;
      margin: 175px auto;
      padding: 20px 80px 20px 80px;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      border: 2px solid #ffffff;
      font-size: 14px; }
      .container header button:hover {
        transition: color 0.3s;
        color: #9e9e9e;
        background: #000000; }
  .container .header-columns {
    background: #ffffff;
    margin-top: 80px;
    margin-bottom: 120px;
    padding: 0px 130px 150px 130px; }
    .container .header-columns .columns p {
      margin-top: 50px;
      font-weight: 500; }
      .container .header-columns .columns p:nth-child(1) {
        float: left;
        width: 40%;
        font-size: 23px;
        line-height: 40px;
        margin-left: 30px; }
      .container .header-columns .columns p:nth-child(2) {
        float: right;
        width: 50%;
        font-size: 15px; }
  .container .articles {
    background: #f3f3f3;
    padding: 100px; }
    .container .articles .wrapper {
      margin-left: 16%;
      display: grid;
      grid-gap: 30px;
      grid-template-columns: 25% 25% 25%;
      grid-template-rows: [row] 150px [row] 15vw [row] 15vw; }
      .container .articles .wrapper .box {
        position: relative;
        color: #ffffff;
        padding: 20px;
        font-size: 13px;
        letter-spacing: 1px;
        border: 1px solid #ffffff; }
        .container .articles .wrapper .box .likes {
          position: absolute;
          right: 0;
          margin-right: 20px;
          padding: 0.5vw;
          font-weight: 600;
          background-color: rgba(0, 0, 0, 0.5);
          border: 2px solid #ffffff; }
        .container .articles .wrapper .box > p {
          position: absolute;
          bottom: 0;
          margin-bottom: 25px;
          font-size: 15px;
          font-weight: 500; }
      .container .articles .wrapper .z {
        grid-column: 1 / 4;
        grid-row: row;
        padding: 50px 0 0 0;
        border: 0; }
        .container .articles .wrapper .z h2 {
          text-align: center;
          font-weight: 300;
          color: #000000;
          font-size: 22px; }
      .container .articles .wrapper .a {
        grid-column: 1 / 3;
        grid-row: row 2;
        background-image: url(../img/sample.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 -150px 150px -120px black inset; }
      .container .articles .wrapper .b {
        grid-column: 3 / 4;
        grid-row: row 2;
        background-image: url(../img/sample2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 -150px 150px -120px black inset; }
      .container .articles .wrapper .c {
        grid-column: 1 / 2;
        grid-row: row 3;
        background-image: url(../img/sample2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 -150px 150px -120px black inset; }
      .container .articles .wrapper .d {
        grid-column: 2 / 4;
        grid-row: row 3;
        background-image: url(../img/sample3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 -180px 180px -150px black inset; }
    .container .articles .newsletter-inp-btn {
      background: #fff;
      margin-top: 100px;
      padding: 100px 50px;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .container .articles .newsletter-inp-btn p {
        margin-bottom: 0;
        font-size: 1.2vw; }
        .container .articles .newsletter-inp-btn p span {
          font-weight: bold; }
      .container .articles .newsletter-inp-btn .email-form input {
        width: 20vw;
        padding: 15px;
        border: 1px solid rgba(0, 0, 0, 0.85);
        background: #f3f3f3;
        font-size: 14px; }
        .container .articles .newsletter-inp-btn .email-form input::placeholder {
          color: #000000;
          font-weight: 600; }
      .container .articles .newsletter-inp-btn .email-form button {
        padding: 15px 45px 15px 45px;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.85);
        border: 1px solid rgba(0, 0, 0, 0.85);
        color: #ffffff;
        font-size: 14px;
        float: right; }
        .container .articles .newsletter-inp-btn .email-form button:hover {
          transition: color 0.3s;
          color: #9e9e9e;
          background: #000000; }
  .container .footer-columns {
    background: #ffffff;
    padding: 100px;
    margin: 0 auto; }
    .container .footer-columns .grid-columns {
      margin: 0 auto;
      color: #9e9e9e;
      display: grid;
      grid-gap: 30px;
      grid-template-columns: 22% 22% 20% 27%;
      grid-template-rows: [row] 150px;
      font-size: 13px; }
      .container .footer-columns .grid-columns h2 {
        margin-bottom: 20px;
        color: #000000; }
      .container .footer-columns .grid-columns .f-about {
        padding-right: 40px; }
      .container .footer-columns .grid-columns .f-contact {
        line-height: 30px; }
        .container .footer-columns .grid-columns .f-contact a {
          color: #9e9e9e;
          text-decoration: none; }
      .container .footer-columns .grid-columns .f-tweets {
        margin: 0 20px 0 -20px; }
        .container .footer-columns .grid-columns .f-tweets blockquote {
          font-style: italic;
          padding-bottom: 5px; }
          .container .footer-columns .grid-columns .f-tweets blockquote:before {
            content: '"'; }
          .container .footer-columns .grid-columns .f-tweets blockquote:after {
            content: '"'; }
        .container .footer-columns .grid-columns .f-tweets p {
          color: #e4e4e4; }
      .container .footer-columns .grid-columns .f-newsletter p {
        padding-bottom: 30px; }
      .container .footer-columns .grid-columns .f-newsletter input {
        width: 5.4vw;
        padding: 15px;
        border: 2px solid rgba(0, 0, 0, 0.85);
        margin-right: -4px;
        background: #f3f3f3;
        font-size: 14px; }
        .container .footer-columns .grid-columns .f-newsletter input::placeholder {
          font-style: italic; }
      .container .footer-columns .grid-columns .f-newsletter button {
        padding: 17px 20px 17px 20px;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.85);
        border: 1px solid rgba(0, 0, 0, 0.85);
        border: 0;
        color: #ffffff;
        font-size: 14px; }
        .container .footer-columns .grid-columns .f-newsletter button:hover {
          transition: color 0.3s;
          color: #9e9e9e;
          background: #000000; }
  .container footer {
    margin: 0 100px 0 100px;
    border-top: 2px solid #f3f3f3; }
    .container footer .footer-name {
      font-size: 14px;
      display: inline-block;
      color: #9e9e9e;
      margin: 40px 0; }
    .container footer nav {
      float: right;
      font-weight: 700; }
      .container footer nav ul {
        list-style-type: none; }
        .container footer nav ul li {
          display: inline-block;
          margin: 40px 30px 35px 30px;
          font-size: 14px; }
          .container footer nav ul li:last-child {
            margin-right: 0; }
          .container footer nav ul li a {
            color: #000000;
            text-decoration: none;
            padding: 0 5px 10px; }
            .container footer nav ul li a:hover {
              box-shadow: 0 4px 2px -2px #b7c8d9;
              transition: box-shadow 0.5s linear; }
