$bodyBackground: #dcbb9a;
$bodyFontColor: #000000;
$contentBackground: #ffffff;
$headerColor: #893c00;
$borderImgColor: #ffffff;
$outlineImgColor: #893c00;
$briefBackground: #fadcba;
$briefWidht: 40%;
$briefMarginBottom: 5px;
$tableBackgroundTH: #e0e0e0;
$tableBackgroundTD: #ffffff;
$tableBorderBottom: #e0e0e0;
$linkColor: #3d70a1;
$formTextColor: lighten(#808080, 15%);
$formPlaceholderColor: lighten(#808080, 15%);
$formInputBorderColor: lighten(#808080, 15%);
$formButtonColor: #3d70a1;
$buttonBorderColor: #3d70a1;
