$bodyBackground: rgba(198, 238, 252, 0.53);
$bodyFontColor: #ffffff;
$contentBackground: #3b3b3b;
$headerColor: #fccd10;
$borderImgColor: #3b3b3b;
$outlineImgColor: #f5c70f;
$briefBackground: lighten(#fccd10, 20%);
$briefWidht: 97%;
$briefMarginBottom: 30px;
$tableBackgroundTH: #94a34e;
$tableBackgroundTD: #677d01;
$tableBorderBottom: #94a34e;
$linkColor: #f5c70f;
$formTextColor: #f5c70f;
$formPlaceholderColor: #808080;
$formInputBorderColor: #94a34e;
$formButtonColor: #f5c70f;
$buttonBorderColor: #f5c70f;
